<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.matching.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="다매칭"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="catagory"></activity>
        <activity android:name="exlist"></activity>
        <activity android:name="exdetail"></activity>
        <activity android:name="reservation"></activity>
        <activity android:name="complete"></activity>
        <activity android:name="exhistory"></activity>
        <activity android:name="review"></activity>
        <activity android:name="myreservation"></activity>
        <activity android:name="qa"></activity>
    </application>

</manifest>